[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/implot"]
	path = ThirdParty/implot
	url = https://github.com/epezent/implot.git
[submodule "ThirdParty/DLSS"]
	path = ThirdParty/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "ThirdParty/imgui-AZB_MOD"]
	path = ThirdParty/imgui-AZB_MOD
	url = https://github.com/AliyaanZBH/imgui-AZB_MOD
	branch = docking
